<div class="d-flex">
<ul class="tattooimages list-inline mx-auto justify-content-center">
  {{#each tattooimages}}
    <li class="list-inline-item">{{name_design}} {{associated_artist}}</li> 
    <p class="list-inline-item">Prezzo: {{price}} </p> <br>
    
    <a class="btn btn-primary mb-1" href="/modificaDesign/{{id}}">Modifica dati</a> 

    <form action="/getTattooDesign/{{id}}?_method=DELETE" method="POST" class="mb-3">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger" value="Cancella Design ">
    </form>

  {{else}}
  <h4>Non c'è nessun design in archivio.</h4>

  {{/each}}
</ul>
</div>