<div class="d-flex">
  <ul class="tatuatori list-inline mx-auto justify-content-center">
    <div class="container-wrapper">
      <h3 class="text-3 mb-5 text-center mt-4">Tutti i tattoers</h3>

      <div class="row row-grid">
        {{#each tatuatori}}
        <div class="col-md-3">
          <h5>{{name}} {{surname}}</h5>
          <p>Ranking: {{ranking_display}} </p>
          <p>Hide: {{hide}} </p>

          <div>
            <a class="btn btn-primary mb-1" href="/modificaTatuatore/{{id}}">Modifica dati</a>
            <form action="/getTattoers/{{id}}?_method=DELETE" method="POST" class="mb-3">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" class="btn btn-danger" value="Cancella tatuatore ">
            </form>
          </div>

        </div>
        {{else}}
        <h4>Non c'è nessun tatuatore in archivio.</h4>

        {{/each}}


      </div>
    </div>
  </ul>
</div>