<div class="d-flex">
    <form action="/getTattooDesign/{{tattooimages.id}}?_method=POST" encType="multipart/form-data" method="POST" class="list-inline mx-auto justify-content-center">
        <input type="hidden" name="_method" value="POST">
        
        <select class="selectpicker form-control" value="" data-style="btn-info" name="selectpicker">
            <option value="{{tattooimages.id_tattoer}}" selected>{{tatuatoris.name}} {{tatuatoris.surname}}</option>
            <option> Scegli un tatuatore</option> 
            {{#each tatuatori}}
            <option name="table1" value="{{id}}">{{name}} {{surname}} - HIDE: {{hide}}</option>        
            {{/each}}
        </select>    <br>  

        Nome Design:<br>
        <input type="text" name="design_name" class="form-control" value="{{tattooimages.name_design}}"><br>
        Artista Associato:<br>
        <input type="text" name="associated" class="form-control" value="{{tatuatoris.name}} {{tatuatoris.surname}}"><br>
        Prezzo:<br>
        <input type="number" name="price" class="form-control" value="{{tattooimages.price}}"><br>
        Stile:<br>
        <input type="text" name="style" class="form-control" value="{{tattooimages.style}}"><br>
        Altezza:<br>
        <input type="text" name="altezza" class="form-control" value="{{tattooimages.altezza}}"><br>
        Larghezza:<br>
        <input type="text" name="larghezza" class="form-control" value="{{tattooimages.larghezza}}"><br>
        Image:<br>
        <input type="file" name="image" class="form-control" value="{{tattooimages.image}}"><br>
        Meta Title:
        <input type="text" name="title" class="form-control" value="{{tattooimages.title}}"> <br>
        Meta Description:
        <textarea type="text" rows="5" cols="50" name="meta_title" class="form-control">{{tattooimages.meta_title}}</textarea><br>
        Alt Tag:
        <input type="text" name="alt_tag" class="form-control" value="{{tattooimages.alt_tag}}"><br>

        Hide: <br>
        <label class="radio-inline"><input type="radio" name="hide" value="false" checked>False</label>
        <label class="radio-inline"><input type="radio" name="hide" value="true">True</label>
        <br>
        
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>