    <form method="POST" action="/getTattooDesign/{{tattooimages.id}}?_method=POST" method="POST">
        <input type="hidden" name="_method" value="POST">
        Nome Design:<br>
        <input type="text" name="design_name" value="{{tattooimages.name_design}}"><br>
        Artista Associato:<br>
        <input type="text" name="associated" value="{{tattooimages.associated_artist}}"><br>
        Prezzo:<br>
        <input type="number" name="price" value="{{tattooimages.price}}"><br>
        Stile:<br>
        <input type="text" name="style" value="{{tattooimages.style}}"><br>
        Image:<br>
        <input type="text" name="image" value="{{tattooimages.image}}"><br><br>
        
        <input type="submit" value="Submit">
    </form>
