<div class="d-flex">
    <form method="POST" action="/getTattooDesign/{{tattooimages.id}}?_method=POST" method="POST" class="list-inline mx-auto justify-content-center">
        <input type="hidden" name="_method" value="POST">
        Nome Design:<br>
        <input type="text" name="design_name" class="form-control" value="{{tattooimages.name_design}}"><br>
        Artista Associato:<br>
        <input type="text" name="associated" class="form-control" value="{{tattooimages.associated_artist}}"><br>
        Prezzo:<br>
        <input type="number" name="price" class="form-control" value="{{tattooimages.price}}"><br>
        Stile:<br>
        <input type="text" name="style" class="form-control" value="{{tattooimages.style}}"><br>
        Image:<br>
        <input type="text" name="image" class="form-control" value="{{tattooimages.image}}"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</div>