    <form method="POST" action="/modificaTatuatore">
        Nome:<br>
        <input type="text" name="name" value="{{tatuatori.name}}"><br>
        Cognome:<br>
        <input type="text" name="surname" value="{{tatuatori.surname}}"><br>
        Biografia:<br>
        <input type="textarea" name="bio" value="{{tatuatori.biography}}"><br>
        Città:<br>
        <input type="text" name="city" value="{{tatuatori.city}}"><br>
        Indirizzo:<br>
        <input type="text" name="street" value="{{tatuatori.address}}"><br>
        Telefono:<br>
        <input type="text" name="tele" value="{{tatuatori.telephone}}"><br>
        Email:<br>
        <input type="text" name="email" value="{{tatuatori.working_email}}"><br>
        Email privata:<br>
        <input type="text" name="private" value="{{tatuatori.private_email}}"><br>
        Cover:<br>
        <input type="text" name="cover" value="{{tatuatori.cover}}"><br>
        Image:<br>
        <input type="text" name="image" value="{{tatuatori.image}}"><br>
        Ranking:<br>
        <input type="number" name="rank" value="{{tatuatori.ranking_display}}"><br>

        <input type="submit" value="Submit">
    </form>