{{#each tatuatori}}

    <h5 type="text" name="name"> {{name}} </h5>
    <h5 type="text" name="name"> {{surname}} </h5>
    <h5 type="text" name="name"> {{biography}} </h5>
    <h5 type="text" name="name"> {{city}} </h5>
    <h5 type="text" name="name"> {{provincia}} </h5>
    <h5 type="text" name="name"> {{street}} </h5>
    <h5 type="text" name="name"> {{cap}} </h5>
    <h5 type="text" name="name"> {{tele}} </h5>
    <h5 type="text" name="name"> {{email}} </h5>
    <h5 type="text" name="name"> {{private}} </h5>
    <h5 type="text" name="name"> {{cover}} </h5>
    <h5 type="text" name="name"> {{image}} </h5>
    <h5 type="text" name="name"> {{portfolio}} </h5>
    <h5 type="text" name="name"> {{tattoo_studio}} </h5>
    <h5 type="text" name="name"> {{rank}} </h5>
    <h5 type="text" name="name"> {{title}} </h5>
    <h5 type="text" name="name"> {{meta_title}} </h5>
    <h5 type="text" name="name"> {{hide}} </h5>
    <h5 type="text" name="name"> {{url}} </h5>

{{/each}}