<div class="container-wrapper container">
  <h3 class="text-3 mb-5 text-center mt-4">Tutti i design</h3>

  <div class="row row-grid text-center">

    {{#each tattooimages}}
    <div class="col-3 mb-3">
      <button class="btn btn-outline-secondary" role="button" onclick="window.location.href=''">
        <h5>{{name_design}} {{associated_artist}}</h5>
        <p>Prezzo: {{price}} </p>
        <p>Hide: {{hide}} </p>

        <div>
          <a class="btn btn-primary mb-1" href="/modificaDesign/{{id}}">Modifica dati</a>

          <form method="POST" id="deleteForm" data-id="{{id}}" class="mb-3">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger" value="Cancella Design" onClick="confSubmit(this.form);" style="cursor: pointer;">
          </form>
        </div>
      </button>
    </div>

    {{else}}
    <h4>Non c'è nessun design in archivio.</h4>

    {{/each}}


  </div>
</div>

<script>
  function confSubmit(form, e) {
    if (confirm("Vuoi cancellare questo elemento?")) {
      $('#deleteForm').attr('action', '/getTattooDesign/' + $('#deleteForm').data("id") + '?_method=DELETE');
      form.submit();
    }else {
      $('#deleteForm').attr('action', '');
      alert("Se non lo devi cancellare perché hai cliccato cazzo?");
    }
  }
</script>